{% extends "base.html" %}

{% block title %}Home{% endblock %}

{% block content %}
<div class="title" style="font-family: 'Times New Roman', Times, serif;">A Guide for First-Time Home Buyers</div>

<div class="row">
  <div class="col-3"></div>
  <div class="col-6">
    <hr style="margin-top:0;">
  </div>
  <div class="col-3"></div>
</div>

<div class="row justify-content-center align-items-center">
  <!-- Buttons Column -->
  <div class="col-md-4 d-flex flex-column align-items-end" style="padding-right:0;">
    <a href="{{ url_for('single_or_partnered') }}" 
       class="btn btn-lg mb-4" 
       role="button"
       style="font-family: 'Times New Roman', Times, serif; background-color: #c62015; color: white; border-radius: 0; border: black 4px solid; width: 300px; font-size: 2em;">
       Learn the steps
    </a>
    
    <a href="{{ url_for('quiz_page', qid=0) }}" 
       class="btn btn-lg mt-4" 
       role="button"
       style="font-family: 'Times New Roman', Times, serif; background-color: #353331; color: white; border-radius: 0; border: black 4px solid; width: 300px; font-size: 2em;">
       Test your readiness
    </a>
  </div>

  <!-- Image Column -->
  <div class="col-md-8 d-flex justify-content-center" style="padding-left: 0;">
    <img src="{{ url_for('static', filename='img/house-side-red.png') }}" style="width: 90%;" alt="House For Sale">
  </div>
</div>



{% endblock %}

{% block scripts %}

{% endblock %}