{% extends "base.html" %}

{% block content %}
<div class="title">Key Players</div>
<div class="row">
  <div class="col-3"></div>
  <div class="col-6"><hr></div>
  <div class="col-3"></div>
</div>

<div class="container-fluid mt-5 text-center">
    <div class="row justify-content-center">
      <div class="col-md-2 col-sm-3 player-card">
        <img src="{{ url_for('static', filename='img/agent.png') }}" class="player-img">
        <div class="player-desc">
          A licensed professional who represents buyers or sellers through the home buying or selling process.
        </div>
      </div>
      <div class="col-md-2 col-sm-3 player-card">
        <img src="{{ url_for('static', filename='img/buyer.png') }}" class="player-img">
        <div class="player-desc">
          The individual seeking to purchase a home, responsible for securing financing and making an offer.
        </div>
      </div>
      <div class="col-md-2 col-sm-3 player-card">
        <img src="{{ url_for('static', filename='img/seller.png') }}" class="player-img">
        <div class="player-desc">
          The current homeowner listing the property for sale and negotiating terms with prospective buyers.
        </div>
      </div>
      <div class="col-md-2 col-sm-3 player-card">
        <img src="{{ url_for('static', filename='img/lawyer.png') }}" class="player-img">
        <div class="player-desc">
          A legal expert who ensures the contract complies with local laws, reviews documents and resolves disputes.
        </div>
      </div>
    </div>
  
    <div class="d-flex justify-content-between mt-5 align-items-center" style="padding: 0px 150px;">
      <a href="{{ url_for('single_or_partnered') }}">
        <img src="{{ url_for('static', filename='img/left-arrow.png') }}" alt="Previous" style="height: 60px;">
      </a>
      <a href="{{ url_for('players_interactive') }}">
        <img src="{{ url_for('static', filename='img/right-arrow.png') }}" alt="Next" style="height: 60px;">
      </a>
    </div>
  </div>
  

{% endblock %}